.button {
  @include center;
  border-radius: 28px;
  border: none;
  color: $lightGrey;
  background-color: $white;
  padding: 0;
  width: fit-content;

  span {
    width: 5.5rem;
    text-align: center;
    margin-left: 0.5rem;
  }
  
  &_arrow {
    @include center;
    border-radius: 50%;
    background-color: $grey;
    width: 32px;
    height: 32px;
    margin: 0.4rem 0.4rem 0.4rem 0;

    img {
      width: 9.6px;
      height: 4.8px;
    }
  }
}