.quote {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  color: $white;
  
  &_main {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .text_quote {
      max-width: 540px;
    }
  }

  button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition-duration: 200ms;

    &:hover, &:focus {
      filter: brightness(0.2);
    }
    
    &:active {
      filter: brightness(1);
    }
  }
}