@import "utilities";
@import "components";

* {
  margin: 0;
}

body {
  $paddingY: 2rem;

  padding: $paddingY 1.5rem;
  height: calc(100vh - $paddingY * 2);
  background-color: green;
  
  @media (min-width: 768px) {
    $paddingY: 5rem;

    padding: $paddingY 3.5rem;
    height: calc(100vh - $paddingY * 2);
  }

  #root {
    height: 100%;
    width: 100%;

    @include center;
    
    .App {
      height: 100%;
      width: min(100%, 1100px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  
      &_bottom {
        display: flex;
        flex-direction: column;
        gap: 3rem;
  
        @media (min-width: 768px) {
          gap: 5rem;
        }
        
        @media (min-width: 1024px) {
          gap: unset;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-end;
        }
      }
    }
  }
}